#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


html, body, #root {
  height: 100%;      /* 전체 화면 높이 */
  margin: 0;         /* 기본 margin 제거 */
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 높이 꽉 채우기 */
}

.app-main {
  flex: 1; /* 남는 공간 채우기 */
}

.yj-footer {
  margin-top: auto; /* 푸터가 항상 아래로 밀리도록 */
}
